.container {
    background-color: rgba(20, 20,20, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup__area {
    margin: 0px;
    background: salmon;
    position: absolute;
    height: 20rem;
    width: 40rem;
    top: 50%;
    left: 50%
    margin-right: -%50;
}